In [2]:
import os
import pdb
import sys

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Encode
from sklearn.preprocessing import LabelBinarizer

# ML
from sklearn.tree import DecisionTreeClassifier

# Ensemble method
from sklearn.ensemble import RandomForestClassifier

# Split
from sklearn.model_selection import train_test_split

# Metric to evaluation
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

# Standard Scaler
from sklearn.preprocessing import StandardScaler

In [53]:
# What causes a more severe accident?
# Data dictionary https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
X_org = pd.read_csv("/Users/ou/Projects/traffic_collisions_ml_team2/data/Collisions.csv")

In [54]:
# Unique id identify each accident
X_org['INCKEY'].duplicated().value_counts()
X_org['COLDETKEY'].duplicated().value_counts()

False    220436
Name: COLDETKEY, dtype: int64

In [126]:
# Drop 'LOCATION'
# Drop 'REPORTNO', 'STATUS', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'ST_COLCODE'
# Convert INCDATE, INCDTTM
X = X_org[['SEVERITYDESC', 'ADDRTYPE', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']]

In [56]:
for i in X.columns: print(X[i].value_counts())

Property Damage Only Collision    137026
Injury Collision                   58472
Unknown                            21510
Serious Injury Collision            3082
Fatality Collision                   346
Name: SEVERITYDESC, dtype: int64
Block           144344
Intersection     71516
Alley              869
Name: ADDRTYPE, dtype: int64
Parked Car    48364
Angles        35366
Rear Ended    34545
Other         24450
Sideswipe     18812
Left Turn     14047
Pedestrian     7637
Cycles         5893
Right Turn     2998
Head On        2172
Name: COLLISIONTYPE, dtype: int64
2     118466
3      36376
0      24928
4      14965
1      13827
5       6757
6       2782
7       1178
8        546
9        226
10       133
11        59
12        35
13        22
14        22
15        11
17        11
16         8
44         6
20         6
25         6
18         6
19         6
22         5
29         4
26         4
23         3
32         3
47         3
27         3
28         3
37         3
34         3
21         2
36         2
31         2
30         2
24         2
35         1
81         1
39         1
41         1
43         1
48         1
53         1
54         1
57         1
93         1
Name: PERSONCOUNT, dtype: int64
0    212395
1      7727
2       274
3        28
4         9
5         2
6         1
Name: PEDCOUNT, dtype: int64
0    214467
1      5918
2        51
Name: PEDCYLCOUNT, dtype: int64
2     149720
1      27737
0      26375
3      13307
4       2501
5        553
6        152
7         52
8         18
9          9
11         6
10         2
15         1
14         1
13         1
12         1
Name: VEHCOUNT, dtype: int64
0     158768
1      47040
2      10644
3       2722
4        812
5        272
6        100
7         40
8         12
9         10
10         6
11         5
13         2
78         1
15         1
12         1
Name: INJURIES, dtype: int64
0     217350
1       2918
2        133
3         23
4          6
5          5
41         1
Name: SERIOUSINJURIES, dtype: int64
0    220090
1       330
2        12
3         2
5         1
4         1
Name: FATALITIES, dtype: int64
11/2/2006                 103
10/8/2004                  98
10/3/2008                  92
11/5/2005                  85
1/2/2004                   80
8/6/2004                   79
6/1/2006                   77
12/4/2004                  77
11/4/2006                  76
11/1/2004                  76
10/5/2004                  75
12/9/2004                  74
10/6/2006                  72
11/4/2005                  71
11/6/2006                  71
4/8/2006                   70
1/5/2007                   70
1/6/2004                   70
1/9/2006                   69
11/1/2008                  68
5/5/2006                   68
12/7/2004                  68
11/1/2005                  67
11/3/2006                  67
12/10/2004                 66
3/8/2006                   66
5/7/2004                   63
7/8/2005                   63
10/2/2007                  63
4/3/2006                   62
                         ...
12/19/2008 8:30:00 AM       1
6/16/2008 3:44:00 PM        1
10/23/2008 11:37:00 PM      1
3/11/2005 12:04:00 PM       1
1/24/2009 1:40:00 PM        1
5/28/2006 9:03:00 AM        1
6/23/2009 3:45:00 PM        1
6/27/2017 8:02:00 AM        1
11/27/2005 2:15:00 AM       1
3/13/2015 10:08:00 AM       1
5/1/2019 4:21:00 PM         1
3/6/2014 3:20:00 PM         1
3/22/2005 8:01:00 PM        1
8/6/2016 1:56:00 AM         1
7/21/2010 2:35:00 PM        1
11/26/2019 2:03:00 AM       1
4/11/2020 7:20:00 PM        1
8/23/2011 3:37:00 PM        1
2/1/2015 11:58:00 AM        1
7/20/2008 2:25:00 PM        1
2/24/2006 5:12:00 PM        1
9/26/2008 3:35:00 PM        1
8/16/2007 2:35:00 PM        1
10/21/2016 4:31:00 PM       1
7/26/2017 8:40:00 AM        1
10/30/2013 9:43:00 PM       1
4/7/2017 10:00:00 PM        1
10/6/2015 5:35:00 PM        1
12/4/2016 8:10:00 AM        1
10/2/2018 7:28:00 AM        1
Name: INCDTTM, Length: 168605, dtype: int64
Mid-Block (not related to intersection)              101124
At Intersection (intersection related)                68811
Mid-Block (but intersection related)                  24369
Driveway Junction                                     11491
At Intersection (but not related to intersection)      2494
Ramp Junction                                           190
Unknown                                                  21
Name: JUNCTIONTYPE, dtype: int64
11.0    91588
14.0    58990
0.0     19103
16.0    10903
28.0     9530
24.0     7673
13.0     6862
26.0     5054
18.0     3412
15.0     1803
12.0     1772
51.0     1468
29.0      559
21.0      204
56.0      199
27.0      173
54.0      153
23.0      129
48.0      118
31.0      111
25.0      109
34.0      100
64.0       98
69.0       86
33.0       56
55.0       56
66.0       31
22.0       19
44.0       16
32.0       13
53.0        9
61.0        7
58.0        6
35.0        6
68.0        6
36.0        4
46.0        4
52.0        2
47.0        2
87.0        1
Name: SDOT_COLCODE, dtype: int64
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE                  91588
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                            58990
NOT ENOUGH INFORMATION / NOT APPLICABLE                                 19103
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE                 10903
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                            9530
MOTOR VEHCILE STRUCK PEDESTRIAN                                          7673
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE                   6862
MOTOR VEHICLE STRUCK OBJECT IN ROAD                                      5054
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE                    3412
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE                 1803
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE                  1772
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE                     1468
MOTOR VEHICLE OVERTURNED IN ROAD                                          559
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                               204
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                     199
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                                 173
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                                153
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE                    129
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                        118
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE                111
MOTOR VEHICLE STRUCK TRAIN                                                109
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                          100
PEDALCYCLIST STRUCK PEDESTRIAN                                             98
PEDALCYCLIST OVERTURNED IN ROAD                                            86
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                     56
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                 56
PEDALCYCLIST STRUCK OBJECT IN ROAD                                         31
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE                    19
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                       16
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                13
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                        9
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                                   7
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                         6
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                6
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                                6
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                                 4
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                 4
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                              2
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                       2
MOTORIZED SCOOTER COLLISION: COLLISION INVOLVING A MOTORIZED SCOOTER        1
Name: SDOT_COLDESC, dtype: int64
Y    30187
Name: INATTENTIONIND, dtype: int64
N    103000
0     81676
Y      5398
1      4230
Name: UNDERINFL, dtype: int64
Clear                       114006
Raining                      33973
Overcast                     28435
Unknown                      15131
Snowing                        919
Other                          850
Fog/Smog/Smoke                 576
Sleet/Hail/Freezing Rain       116
Blowing Sand/Dirt               56
Severe Crosswind                26
Partly Cloudy                    8
Name: WEATHER, dtype: int64
Dry               127753
Wet                48653
Unknown            15129
Ice                 1231
Snow/Slush          1014
Other                136
Standing Water       119
Sand/Mud/Dirt         77
Oil                   64
Name: ROADCOND, dtype: int64
Daylight                    118791
Dark - Street Lights On      49983
Unknown                      13518
Dusk                          6064
Dawn                          2584
Dark - No Street Lights       1571
Dark - Street Lights Off      1235
Other                          244
Dark - Unknown Lighting         17
Name: LIGHTCOND, dtype: int64
Y    5180
Name: PEDROWNOTGRNT, dtype: int64
4215039.0     2
4347001.0     2
4301033.0     2
4354033.0     2
4366022.0     2
4342051.0     2
4227030.0     2
4343010.0     2
4355008.0     2
4116034.0     2
4315024.0     2
4344001.0     2
11200007.0    2
4116048.0     2
4305035.0     2
4112025.0     2
4354014.0     2
4038007.0     2
4318022.0     2
11333016.0    1
7033014.0     1
10005020.0    1
6003001.0     1
9117009.0     1
9246028.0     1
11090014.0    1
4231022.0     1
11161020.0    1
6150043.0     1
4279053.0     1
             ..
8270013.0     1
9142040.0     1
4111005.0     1
8206004.0     1
8077012.0     1
10120039.0    1
13046015.0    1
12070030.0    1
9103019.0     1
9284029.0     1
6019028.0     1
11209003.0    1
11209018.0    1
8111006.0     1
11329012.0    1
12216014.0    1
11090031.0    1
9039019.0     1
6209031.0     1
6102010.0     1
11042008.0    1
7305001.0     1
8077007.0     1
10008045.0    1
9298014.0     1
4299008.0     1
7362024.0     1
10059025.0    1
10326009.0    1
5266009.0     1
Name: SDOTCOLNUM, Length: 127186, dtype: int64
Y    9876
Name: SPEEDING, dtype: int64
32    44755
10    35366
14    26100
      16739
50    14061
11    12915
28    10631
13     7747
45     5082
23     4605
0      3554
15     3128
16     2998
20     2886
12     2452
2      2403
22     2292
21     1646
30     1358
1      1286
71     1193
26     1072
52      915
81      836
19      723
24      677
5       466
51      381
74      348
6       294
      ...
73      169
4       138
25      137
57      109
40      105
84       94
83       87
72       73
41       59
64       50
31       47
82       35
56       34
53       33
48       33
8        27
7        24
42       12
66       11
65       11
17        9
67        9
88        8
54        7
18        6
43        2
87        2
85        1
49        1
60        1
Name: ST_COLCODE, Length: 63, dtype: int64
One parked--one moving                                                                   44755
Entering at angle                                                                        35366
From same direction - both going straight - one stopped - rear-end                       26100
Fixed object                                                                             14061
From same direction - both going straight - both moving - sideswipe                      12915
From opposite direction - one left turn - one straight                                   10631
From same direction - both going straight - both moving - rear-end                        7747
Vehicle - Pedalcyclist                                                                    5082
From same direction - all others                                                          4605
Vehicle going straight hits pedestrian                                                    3554
From same direction - one left turn - one straight                                        3128
From same direction - one right turn - one straight                                       2998
One car leaving parked position                                                           2886
From same direction - both going straight - one stopped - sideswipe                       2452
Vehicle turning left hits pedestrian                                                      2403
One car leaving driveway access                                                           2292
One car entering driveway access                                                          1646
From opposite direction - all others                                                      1358
Vehicle turning right hits pedestrian                                                     1286
Same direction -- both turning right -- both moving -- sideswipe                          1193
From opposite direction - both going straight - sideswipe                                 1072
Vehicle overturned                                                                         915
Same direction -- both turning left -- both moving -- sideswipe                            836
One car entering parked position                                                           723
From opposite direction - both moving - head-on                                            677
Vehicle Strikes Pedalcyclist                                                               466
Other object                                                                               381
Same direction -- both turning right -- one stopped -- rear end                            348
Pedalcyclist Strikes Moving Vehicle                                                        294
From opposite direction - one left turn - one right turn                                   288
                                                                                         ...
Same direction -- both turning right -- both moving -- rear end                            169
Vehicle hits Pedestrian - All Other Actions                                                138
From opposite direction - one stopped - head-on                                            137
All other non-collision                                                                    109
Railway Vehicle Strikes Vehicle                                                            105
Same direction -- both turning left -- one stopped -- rear end                              94
Same direction -- both turning left -- both moving -- rear end                              87
Same direction -- both turning right -- one stopped -- sideswipe                            73
Vehicle Strikes Railway Vehicle                                                             59
Vehicle Hits City Road or Construction Machinery                                            50
Not stated                                                                                  47
Same direction -- both turning left -- one stopped -- sideswipe                             35
Breakage of any part of the vehicle resulting in injury or in further property damage       34
Person fell, jumped or was pushed from vehicle                                              33
Domestic animal other (cat, dog, etc)                                                       33
Pedalcyclist All Other Involvements ONE UNIT - PEDALCYCLIST ONLY or PEDALCYCLIST STR        27
Pedalcyclist Strikes Pedalcyclist or Pedestrian                                             24
Railway Vehicle Strikes Pedestrian                                                          12
Vehicle Struck by City Road or Construction Machinery                                       11
Vehicle Hits Other Road or Construction Machinery                                           11
Strikes or Was Struck by Object from the Load of Another Vehicle                             9
Vehicle Struck by Other Road or Construction Machinery                                       9
All Other Multi Vehicle                                                                      8
Fire started in vehicle                                                                      7
Strikes or Was Struck by a Part of Another Vehicle (Not from Load)                           6
Vehicle Strikes All Other Non-Domestic Animal                                                2
Railway Vehicle Strikes Pedalcyclist                                                         2
Vehicle Hits State Road or Construction Machinery                                            1
Vehicle Strikes Deer                                                                         1
Non-domestic animal (deer, bear, elk, etc)                                                   1
Name: ST_COLDESC, Length: 62, dtype: int64
0        217400
6532         19
6078         19
12162        18
10336        15
10342        13
8985         12
10420        12
8816         12
10354        11
12179        11
10590         9
10368         9
8995          8
10374         8
10773         8
8990          7
10566         7
12941         7
42777         7
2426          6
12035         6
10802         6
10408         6
6292          6
9002          6
8240          6
6322          6
12788         6
42166         6
          ...
35395         1
33344         1
6483          1
37186         1
24899         1
2255          1
10827         1
6861          1
41818         1
19911         1
7757          1
36575         1
24389         1
38748         1
34782         1
10442         1
20933         1
10453         1
8651          1
13001         1
35934         1
21701         1
15688         1
17863         1
20038         1
9803          1
14281         1
4178          1
6355          1
9402          1
Name: SEGLANEKEY, Length: 2101, dtype: int64
0         216197
523609        19
520838        15
524265        13
525567        13
523148        11
521707        10
523699        10
523735        10
521574         9
523109         9
521253         9
522891         9
521604         9
524178         9
522108         9
521863         9
524029         9
525659         8
522264         8
523176         8
525566         8
525644         8
523987         8
521040         8
524689         8
521750         8
522377         8
520855         8
521581         7
           ...
524103         1
32695          1
522527         1
524473         1
522438         1
24885          1
630796         1
523720         1
524063         1
35825          1
523679         1
36647          1
522056         1
524105         1
522184         1
524471         1
631171         1
522696         1
631299         1
522824         1
523423         1
631427         1
29369          1
522952         1
525111         1
523080         1
521033         1
523208         1
523295         1
524102         1
Name: CROSSWALKKEY, Length: 2342, dtype: int64
N    208661
Y     11775
Name: HITPARKEDCAR, dtype: int64

In [127]:
# INCDATE
# INCDTTM
X.INCDTTM = pd.to_datetime(X.INCDTTM).copy()
X.loc[:, 'year'] = X.INCDTTM.dt.year
X.loc[:, 'month'] = X.INCDTTM.dt.month
X.loc[:, 'hour'] = X.INCDTTM.dt.hour

/Users/ou/.virtualenvs/mlenv/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/ou/.virtualenvs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/ou/.virtualenvs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [128]:
# Delete INCDTTM
X = X.drop(['INCDTTM'], axis=1).copy()
X.columns

Index(['SEVERITYDESC', 'ADDRTYPE', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',
       'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND',
       'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT',
       'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY',
       'CROSSWALKKEY', 'HITPARKEDCAR', 'year', 'month', 'hour'],
      dtype='object')

In [65]:
# Make 'UNDERINFL' consistent
pd.crosstab(X['UNDERINFL'], X['year'])

year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
UNDERINFL,,,,,,,,,,,,,,,,,
0,11517,14621,14728,13998,13226,11331,10376,10421,9812,9687,11293,12532,10584,10212,9496,8403,2439
1,600,728,785,717,647,627,627,650,627,472,526,444,546,460,612,560,0

In [129]:
X.loc[X['UNDERINFL']=="Y", 'UNDERINFL'] = "1"
X.loc[X['UNDERINFL']=="N", 'UNDERINFL'] = "0"

In [67]:
## Drop EXCEPTRSNCODE, EXCEPTRSNDESC
#X['EXCEPTRSNCODE'].value_counts()
#X['EXCEPTRSNDESC'].value_counts()
#X[['EXCEPTRSNDESC', 'EXCEPTRSNCODE']].head()

In [130]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
num_col = ["PERSONCOUNT", "PEDCOUNT", "PEDCYLCOUNT", "VEHCOUNT", "INJURIES",
    "SERIOUSINJURIES", "FATALITIES"]
num_mask = X.columns.isin(num_col)
cat_col = X.columns[~num_mask].tolist()

In [131]:
# Fill missing values with 0
X.loc[:, num_col] = X.loc[:, num_col].apply(lambda x: x.astype(int).fillna(0))
X.loc[:, cat_col] = X.loc[:, cat_col].apply(lambda x: x.fillna('MISSING'))

In [77]:
# std doesn't look too high to me
X[num_col].describe()

,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES
count,220436.000000,220436.000000,220436.000000,220436.000000,220436.000000,220436.000000,220436.000000
mean,2.227145,0.038156,0.027310,1.730697,0.373868,0.015165,0.001674
std,1.471406,0.201881,0.164398,0.829041,0.732352,0.158077,0.044493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000
max,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000

In [132]:
# Create LabelEncoder object: le
le = LabelEncoder()
# Apply LabelEncoder to categorical columns
X.loc[:, cat_col] = X.loc[:, cat_col].apply(lambda x: le.fit_transform(x.astype(str)))

In [133]:
y = X['SEVERITYDESC'].to_frame().copy()
drop = ['INJURIES', 'SERIOUSINJURIES', 'FATALITIES', 'SEVERITYDESC']
X = X.drop(drop, axis=1).copy()

In [134]:
X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.33, random_state=42)

In [135]:
# Random forest classifier;
# This time Scikit-Learn did not have to run OvA or OvO 
# because Random Forest classifiers can directly classify instances into multiple classes.
forest_clf = RandomForestClassifier(random_state=42)
forest_clf.fit(X_train, y_train.values.ravel())
y_pred = forest_clf.predict(X_test)

In [136]:
### Classification
## ask for precision, recall, accuracy, F1 Score
## Precision: precision = TP/ (TP + FP)
from sklearn.metrics import precision_score
precision_score1 = precision_score(y_test, y_pred, average=None)
print(precision_score1)

[0.         0.55202788 0.78241617 0.07586207 0.98063973]

In [137]:
# See all numbers 
np.set_printoptions(threshold=sys.maxsize)

In [138]:
# See prediction v.s. test
df = pd.DataFrame(data=y_pred, columns=['pred'])
compare = df.join(y_test.reset_index(), how='outer').drop(['index'], axis=1)
compare['diff'] = compare['pred'] - compare['SEVERITYDESC']

In [139]:
## recall/ sensitivity/ true positive rate = TP/ (TP + FN)
from sklearn.metrics import recall_score
recall_score1 = recall_score(y_test, y_pred, average=None)
print(recall_score1)

[0.         0.45552476 0.85557072 0.0110331  0.9860347 ]

In [140]:
## accuracy = (TP + TN)/ Total
from sklearn.metrics import accuracy_score
accuracy_score1 = accuracy_score(y_test, y_pred)
print(accuracy_score1)

0.7503574177939074

In [141]:
## F1 Score = F = 2/ (1/precision + 1/recall)
from sklearn.metrics import f1_score
f1_score1 = f1_score(y_test, y_pred, average=None)
print(f1_score1)

[0.         0.4991548  0.81735986 0.01926445 0.98332982]

In [119]:
# Important features: 
col = ['ADDRTYPE', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT',
       'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES', 'JUNCTIONTYPE',
       'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL',
       'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM',
       'SPEEDING', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY',
       'HITPARKEDCAR', 'year', 'month', 'hour']
rank = pd.DataFrame(data={'colname':col, 'importance':forest_clf.feature_importances_})

In [123]:
# Variables should be removed:  INJURIES, SERIOUSINJURIES, FATALITIES
rank.sort_values('importance', ascending=False)

            colname  importance
6          INJURIES    0.599976
2       PERSONCOUNT    0.075656
5          VEHCOUNT    0.059290
13        UNDERINFL    0.052695
7   SERIOUSINJURIES    0.042817
16        LIGHTCOND    0.032401
20       ST_COLCODE    0.019784
1     COLLISIONTYPE    0.014893
21       ST_COLDESC    0.014714
11     SDOT_COLDESC    0.013360
27             hour    0.011106
10     SDOT_COLCODE    0.007917
3          PEDCOUNT    0.007145
4       PEDCYLCOUNT    0.006898
25             year    0.005782
9      JUNCTIONTYPE    0.005226
14          WEATHER    0.005179
8        FATALITIES    0.004640
26            month    0.004078
24     HITPARKEDCAR    0.004069
18       SDOTCOLNUM    0.003664
15         ROADCOND    0.002965
0          ADDRTYPE    0.002417
17    PEDROWNOTGRNT    0.001218
23     CROSSWALKKEY    0.000863
22       SEGLANEKEY    0.000538
19         SPEEDING    0.000428
12   INATTENTIONIND    0.000281

In [125]:
X['INJURIES'].value_counts()

0     158768
1      47040
2      10644
3       2722
4        812
5        272
6        100
7         40
8         12
9         10
10         6
11         5
13         2
78         1
15         1
12         1
Name: INJURIES, dtype: int64

In [110]:
# Set threshold
mask_feature = forest_clf.feature_importances_ > 0.1
# Apply the mask to the feature dataset X
reduced_X = X.loc[:, mask_feature]

,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,UNDERINFL,WEATHER,LIGHTCOND,ST_COLCODE,ST_COLDESC,year,hour
0,8,2,1,0,1,1,0,1,3,3,0,7,2,17,53,1,2
1,5,2,0,0,0,0,0,5,12,11,2,5,7,0,14,9,0
2,0,4,0,0,2,0,0,1,1,7,0,9,5,23,34,9,19
3,2,2,0,0,2,0,0,1,1,7,0,7,5,34,8,9,15
4,5,0,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
5,5,2,0,0,0,1,0,5,1,7,2,5,7,0,14,9,0
6,6,2,0,0,2,0,0,5,34,10,0,7,5,9,6,9,15
7,5,2,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
8,6,2,0,0,2,0,0,4,34,10,0,1,5,7,17,1,12
9,4,4,0,0,2,0,0,1,1,7,0,7,5,15,4,1,0
10,9,2,0,0,2,0,0,5,34,10,0,9,4,61,9,9,15
11,6,4,0,0,4,0,0,5,5,14,0,9,5,31,56,8,15
12,5,0,0,0,0,0,0,5,0,21,2,5,7,0,14,5,0
13,9,3,0,0,2,0,0,5,34,10,0,7,5,61,9,8,12
14,6,2,0,0,1,0,0,4,7,5,0,1,5,31,56,9,16
15,5,0,0,0,0,0,0,1,1,7,2,5,7,0,14,9,0
16,9,4,0,0,3,1,0,5,34,10,0,9,2,56,7,9,23
17,9,2,0,0,2,0,0,5,34,10,0,7,5,61,9,9,17
18,2,2,0,0,2,0,0,5,1,7,0,9,2,34,8,9,2
19,7,2,0,0,2,0,0,5,34,10,0,1,5,20,21,9,16
20,5,1,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
21,0,2,0,0,2,0,0,1,1,7,0,1,5,23,34,10,23
22,7,2,0,0,2,0,0,5,34,10,0,3,9,20,21,2,14
23,2,4,0,0,2,0,0,5,1,7,0,1,5,34,8,9,20
24,6,4,0,0,2,1,0,1,1,7,0,7,5,9,6,9,18
25,5,0,0,0,0,0,0,5,0,21,2,5,7,0,14,5,0
26,0,4,0,0,2,0,0,1,1,7,0,9,5,23,34,9,14
27,2,3,0,0,2,0,0,1,1,7,0,7,5,47,37,8,18
28,0,3,0,0,2,0,0,1,1,7,0,7,5,23,34,9,19
29,1,2,0,1,1,1,0,1,38,15,0,9,5,39,25,9,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220406,6,1,0,0,1,0,0,2,7,5,0,1,5,31,56,9,12
220407,5,0,0,0,0,0,0,1,37,9,2,5,7,0,14,8,0
220408,9,3,0,0,2,0,0,5,34,10,0,9,2,61,9,9,23
220409,5,1,0,0,0,0,0,5,37,9,2,5,7,0,14,9,0
220410,2,2,0,0,2,0,0,4,34,10,0,7,5,34,8,9,21
220411,7,5,0,0,2,0,0,5,34,10,0,1,2,20,21,9,3
220412,9,2,0,0,2,0,0,5,34,10,0,9,2,61,9,9,2
220413,7,2,0,0,2,0,0,2,1,7,0,1,4,20,21,9,13
220414,1,2,0,1,1,1,0,1,20,25,0,1,5,30,49,9,20
220415,0,2,0,0,2,1,0,1,1,7,0,1,5,23,34,9,19
220416,5,0,0,0,0,0,0,5,34,10,2,5,7,0,14,8,0
220417,0,2,0,0,2,1,0,1,1,7,0,7,5,23,34,9,15
220418,7,3,0,0,2,1,0,1,34,10,0,1,5,20,21,9,14
220419,5,2,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
220420,0,2,0,0,2,0,0,1,1,7,0,1,5,23,34,9,15
220421,5,1,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
220422,5,0,0,0,0,0,0,5,34,10,2,5,7,0,14,8,0
220423,0,3,0,0,2,0,0,1,1,7,0,1,2,23,34,9,7
220424,2,3,0,0,2,0,0,5,1,7,0,1,5,34,8,9,12
220425,5,1,0,0,0,0,0,1,7,5,2,5,7,0,14,9,0
220426,5,0,0,0,0,0,0,5,34,10,2,5,7,0,14,9,0
220427,5,2,0,0,0,0,0,5,37,9,2,5,7,0,14,9,0
220428,7,2,0,0,2,0,0,5,1,7,0,1,5,20,21,9,16
220429,4,4,0,0,3,1,0,1,1,7,0,7,5,15,4,9,21
220430,5,0,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
220431,7,3,0,0,3,0,0,5,1,7,0,1,2,20,21,9,10
220432,5,2,0,0,0,0,0,5,1,7,2,5,7,0,14,9,0
220433,9,3,0,0,2,0,0,1,34,10,0,1,5,61,9,9,17
220434,9,2,0,0,2,1,0,4,34,10,0,9,2,61,9,9,5
220435,6,2,0,0,2,0,0,5,34,10,0,9,3,3,41,9,23

In [88]:
# One-vs-All: SGDClassifier

'''
This strategy, also known as one-vs-all, is implemented in 
OneVsRestClassifier. The strategy consists in fitting one classifier 
per class. For each classifier, the class is fitted against all the 
other classes. In addition to its computational efficiency 
(only n_classes classifiers are needed), one advantage of this 
approach is its interpretability. Since each class is represented 
by one and only one classifier, it is possible to gain knowledge 
about the class by inspecting its corresponding classifier. 
This is the most commonly used strategy and is a fair default choice.
'''

'\nThis strategy, also known as one-vs-all, is implemented in \nOneVsRestClassifier. The strategy consists in fitting one classifier \nper class. For each classifier, the class is fitted against all the \nother classes. In addition to its computational efficiency \n(only n_classes classifiers are needed), one advantage of this \napproach is its interpretability. Since each class is represented \nby one and only one classifier, it is possible to gain knowledge \nabout the class by inspecting its corresponding classifier. \nThis is the most commonly used strategy and is a fair default choice.\n'

In [89]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
y_pred1 = OneVsRestClassifier(SGDClassifier(random_state=42)).fit(X_train, y_train).predict(X_test)

In [90]:
precision_score2 = precision_score(y_test, y_pred1, average=None)
print(precision_score2)
recall_score2 = recall_score(y_test, y_pred1, average=None)
print(recall_score2)
accuracy_score2 = accuracy_score(y_test, y_pred1)
print(accuracy_score2)
f1_score2 = f1_score(y_test, y_pred1, average=None)
print(f1_score2)

[0.         0.26640303 0.86678944 0.         0.16788321]
[0.         0.98284788 0.03107805 0.         0.01297785]
0.27904706917408995
[0.         0.41918505 0.06000467 0.         0.02409323]

In [91]:
# One-vs-One: SGDClassifier

'''
OneVsOneClassifier constructs one classifier per pair of classes. 
At prediction time, the class which received the most votes is selected. 
In the event of a tie (among two classes with an equal number of votes), 
it selects the class with the highest aggregate classification confidence 
by summing over the pair-wise classification 
confidence levels computed by the underlying binary classifiers.
'''

'\nOneVsOneClassifier constructs one classifier per pair of classes. \nAt prediction time, the class which received the most votes is selected. \nIn the event of a tie (among two classes with an equal number of votes), \nit selects the class with the highest aggregate classification confidence \nby summing over the pair-wise classification \nconfidence levels computed by the underlying binary classifiers.\n'

In [92]:
from sklearn.multiclass import OneVsOneClassifier

y_pred2 = OneVsOneClassifier(SGDClassifier(random_state=42)).fit(X_train, y_train.values.ravel()).predict(X_test)

In [93]:
precision_score2 = precision_score(y_test, y_pred2, average=None)
print(precision_score2)
recall_score2 = recall_score(y_test, y_pred2, average=None)
print(recall_score2)
accuracy_score2 = accuracy_score(y_test, y_pred2)
print(accuracy_score2)
f1_score2 = f1_score(y_test, y_pred2, average=None)
print(f1_score2)

[0.         0.72255193 0.67040942 0.07267645 0.58532024]
[0.         0.02546672 0.94750627 0.10431294 0.52983496]
0.6515451446167382
[0.         0.04919937 0.78522896 0.08566722 0.55619725]

In [104]:
y_test.__class__

pandas.core.frame.DataFrame

In [105]:
df.__class__

pandas.core.frame.DataFrame

In [108]:
y_pred1.__class__

numpy.ndarray